---
import MainPageProject from './MainPageProject.astro';

import { projects } from '../constants/MainPage';
---

<section id="projects">
  {
    projects.map((project) => (
      <MainPageProject
        href={project.href}
        img={project.img}
        description={project.description}
        website={project.website}
        code={project.code}
      />
    ))
  }
</section>

<style>
  section {
    display: flex;
    flex-direction: column;

    row-gap: 35px;
  }

  @media (min-width: 640px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 25px;
    }
  }
</style>
